@font-face {
  font-family: "BubbleFont";
  src: url("/fonts/BubbleFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0f172a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "BubbleFont", sans-serif !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

*,
*::before,
*::after {
  font-family: inherit;
}

@keyframes scrollTestimonials {
  0% {
    transform: translateX(100%);
  }
  15% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-testimonials {
  display: flex;
  width: max-content;
  animation: scrollTestimonials 25s linear infinite;
}

.animate-testimonials:hover {
  animation-play-state: paused;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-text {
  animation: blink 1s infinite;
  animation-delay: 0s;
}